@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CocktailMagician.Areas.Magician.Models.EditBarViewModel
<div class="main-wrapper">

    <!-- start hero-header -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list">
                <li><a>Home</a></li>
                <li><span>Edit Bar</span></li>
            </ol>

        </div>

    </div>
    <!-- end hero-header -->

    <div class="login-container-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3">
                            <form asp-area="Magician" asp-action="EditBar" asp-controller="Bar" method="post" enctype="multipart/form-data" autocomplete="off">

                                <div class="login-box-wrapper">

                                    <div class="modal-header">
                                        <h4 class="modal-title text-center">Edit Bar</h4>
                                    </div>

                                    <div class="modal-body">

                                        <div class="row gap-20">


                                            <div class="col-sm-12 col-md-12">

                                                <div class="form-group">
                                                    <label>Bar Name</label>
                                                    <input class="form-control" value="@Model.Name" asp-for="@Model.Name" placeholder="Enter name of the bar" type="text">
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-12 col-md-12">

                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input class="form-control" value="@Model.Address" asp-for="@Model.Address" placeholder="Enter address of the bar" type="text">
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-12 col-md-12">

                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <input class="form-control" value="@Model.Country" asp-for="@Model.Country" id="CountryInput" oninput="getCities(this.value)" placeholder="Select Country" type="text">
                                                    <span asp-validation-for="Country" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-12 col-md-12">

                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input class="form-control" value="@Model.City" asp-for="@Model.City" id="CityInput" placeholder="Select City" type="text">
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <p>Upload bar photo:</p>
                                                    <input type="file" name="file">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">

                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" asp-for="@Model.Description" placeholder="Enter bar description" type="text" rows="8">@Model.Description</textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div hidden="hidden">
                                                <input asp-for="Id" value="@Model.Id" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="modal-footer text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/AddBarAutoComplete.js"></script>
    <script>
        const transparency = function () {
            $('body').attr('class', 'not-transparent-header');
        }
        window.onload = transparency;
    </script>
}