@model UserViewModel
<div class="main-wrapper">

    <!-- start breadcrumb -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list booking-step">
                <li><a href="#">Home</a></li>
                <li><span>User Dashboard</span></li>
            </ol>

        </div>

    </div>
    <!-- end breadcrumb -->

    <div class="admin-container-wrapper">

        <div class="container">

            <div class="GridLex-gap-15-wrappper">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_sm-4_xs-12">

                        <div class="admin-sidebar">

                            <div class="admin-user-item">

                                <div class="image">
                                    <img alt="image" class="img-circle" style="background-image:url(@Url.Action("GetUserPhoto", "Account" , new { id=Model.Id }));" />
                                </div>

                                <h4>@Model.FirstName @Model.LastName</h4>
                                <p class="user-role">@Model.AccountType</p>
                                <p class="user-role">@Model.AccountStatus</p>

                            </div>

                            <div class="admin-user-action text-center">

                                <a href="#" class="btn btn-primary btn-sm">Edit</a>

                            </div>

                            <ul class="admin-user-menu clearfix">
                                <li>
                                    <a asp-action="Dashboard" asp-controller="Account"><i class="fa fa-tachometer"</i> Dashboard</a>
                                </li>
                                <li class="active">
                                    <a asp-action="UserProfile" asp-controller="Account"><i class="fa fa-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a asp-action="ChangePassword" asp-controller="Account"><i class="fa fa-key"></i> Change Password</a>
                                </li>
                                <li>
                                    <a asp-action="UserFavoriteBars" asp-controller="Account"><i class="fa fa-bookmark"></i> Favourite bars</a>
                                </li>
                                <li>
                                    <a asp-action="UserFavoriteCocktails" asp-controller="Account"><i class="fa fa-bookmark"></i> Favourite cocktails</a>
                                </li>
                                <li>
                                    <a asp-action="UserFavoriteCocktails" asp-controller="Account"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="GridLex-col-9_sm-8_xs-12">

                        <div class="admin-content-wrapper">

                            <div class="admin-section-title">

                                <h2>Hello John Doe!</h2>
                                <p>Your last loged-in: <span class="text-primary">@Model.LastLogIn</span></p>

                            </div>

                            <div class="admin-empty-dashboard">

                                <div class="icon">
                                    <i class="ion-ios-book-outline"></i>
                                </div>

                                <h4>You have no any activities yet!</h4>

                                <a href="#" class="btn btn-primary">Search Restaurant</a>

                            </div>


                        </div>




                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
