@model UserViewModel
<div class="main-wrapper">

    <!-- start breadcrumb -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list booking-step">
                <li><a href="#">Home</a></li>
                <li><span>User Profile</span></li>
            </ol>

        </div>

    </div>
    <!-- end breadcrumb -->

    <div class="admin-container-wrapper">

        <div class="container">

            <div class="GridLex-gap-15-wrappper">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_sm-4_xs-12">

                        <div class="admin-sidebar">

                            <div class="admin-user-item">

                                <div class="image">
                                    <img alt="image" class="img-circle" src="@Url.Action("GetProfilePic", "Account", new{ id=Model.Id})" />
                                </div>

                                <h4>@Model.FirstName @Model.LastName</h4>
                                <p class="user-role">@Model.AccountType</p>
                                <p class="user-role">@Model.AccountStatus</p>

                            </div>

                            <div class="admin-user-action text-center">

                                <a href="#" class="btn btn-primary btn-sm">Edit</a>


                            </div>

                            <ul class="admin-user-menu clearfix" id="user-buttons">
                                <li  class="" id="user-dashboard">
                                    <a class="btn btn-block" onclick="userDashboard()"><i class="fa fa-tachometer"></i> Dashboard</a>
                                </li>
                                <li class="active" id="user-profile">
                                    <a class="btn btn-block" onclick="userProfile()"><i class="fa fa-user"></i> Profile</a>
                                </li>
                                <li  class="" id="user-password">
                                    <a class="btn btn-block" onclick="changePassword()"><i class="fa fa-key"></i> Change Password</a>
                                </li>
                                <li  class="" id="user-bars">
                                    <a class="btn btn-block" onclick="userBars()"><i class="fa fa-bookmark"></i> Favourite bars</a>
                                </li>
                                <li  class="" id="user-cocktails">
                                    <a class="btn btn-block" onclick="userCocktails()"><i class="fa fa-bookmark"></i> Favourite cocktails</a>
                                </li>
                                <li>
                                    <a asp-action="LogOut" asp-controller="Auth"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="GridLex-col-9_sm-8_xs-12" id="user-view">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/UserMenus.js"></script>
    <script>
        const transparency = function () {
            $('body').attr('class', 'not-transparent-header');
        }
        window.onload = transparency;
        userProfile();
    </script>
}
