@model CocktailSearchViewModel
<div class="company-grid-wrapper top-company-2-wrapper">

    <div class="GridLex-gap-30">

        <div class="GridLex-grid-noGutter-equalHeight">

            @foreach (var cocktail in Model.Cocktails)
            {
                <div class="GridLex-col-3_sm-4_xs-6_xss-12">

                    <div class="top-company-2">
                        <button>

                            <div class="image" style="padding:1px">
                                <img src="@Url.Action("GetCocktailPhoto", "Catalog", new { id = cocktail.Id })" alt="image" />
                            </div>

                            <div class="content">
                                <h5 class="heading text-primary font700">@cocktail.Name</h5>
                                <p class="texting font600">
                                </p>
                                <p class="mata-p clearfix">
                                    <span>
                                        @for (double i = 0.5; i < 5; i++)
                                        {
                                            if (i <= cocktail.AverageRating)
                                            {
                                                <span style="color: #ED1C3B;"><i class="fa fa-star"></i></span>
                                            }
                                            else
                                            {
                                                <span style="color: #CCCCCC;"><i class="fa fa-star"></i></span>
                                            }
                                        }
                                        <span class="review">
                                            (<span>@cocktail.RatingsCount</span>)
                                        </span>
                                    </span>
                                    <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span>
                                </p>
                            </div>

                        </button>

                    </div>

                </div>
            }

        </div>

    </div>
    <div hidden="hidden">
        <input id="current-page" asp-for="Page" value="@Model.Page" />
        <input id="current-criteria" asp-for="SelectedCriteria" value="@Model.SelectedCriteria" />
        <input id="current-keyword" asp-for="Keyword" value="@Model.Keyword" />
        <input id="current-order" asp-for="SelectedOrderBy" value="@Model.SelectedOrderBy" />
    </div>
    @if (Model.Cocktails.Count != 0)
    {
        <div class="pager-wrapper">

            <ul class="pager-list">
                @if (Model.Page != 1)
                {
                    <li class="paging-nav"><a onclick="prevPage()"><i class="fa fa-angle-left"></i></a></li>
                }
                <li class="number">
                    <span class="mr-5"><span class="font600">page</span></span>
                </li>
                <li class="number">
                    <span class="font600">@Model.Page</span>
                </li>
                @if (!Model.LastPage)
                {
                    <li class="paging-nav"><a onclick="nextPage()"><i class="fa fa-angle-right"></i></a></li>
                }

            </ul>

        </div>
    }
</div>

<script>
    function changeRatingFilter() {
        var sortSpan = $('#sort_order_span');
        let sort = sortSpan.text();
        let rating = $('#price_range').val();
        let keyword = $('#current-keyword').val();
        let criteria = $('#current-criteria').val();
        let order = $('#current-order').val();
        let page = 1;
        $('#search-results').load('/catalog/barsearchresults', { keyword: keyword, criteria: criteria, order: order, page: page, rating: rating, sortOrder: sort });
    }
    function changeSorting() {
        var sortSpan = $('#sort_order_span');
        let sort = sortSpan.text();
        let rating;
        if (document.getElementById('refine-result').className === "collapse") {
            rating = "0;5";
        }
        else {
            rating = $('#price_range').val();
        }
        let keyword = $('#current-keyword').val();
        let criteria = $('#current-criteria').val();
        let order = $('#order').val();
        let page = 1;
        $('#search-results').load('/catalog/barsearchresults', { keyword: keyword, criteria: criteria, order: order, page: page, rating: rating, sortOrder: sort });
    }
</script>