@model IndexViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper">

    <!-- start hero-header -->
    <div class="hero" style="background-image:url('images/hero-header/index-banner.jpg');">
        <div class="container">

            <div class="main-search-form-wrapper">

                <form autocomplete="off" asp-action="GoToBar" asp-controller="Bar">

                    <div class="form-holder">
                        <div class="row gap-0">

                            <div class="col-xss-6 col-xs-6 col-sm-6">
                                <input id="CityInput" class="form-control" onchange="GetBars(this.value)" placeholder="Find a City" />
                            </div>

                            <div class="col-xss-6 col-xs-6 col-sm-6">
                                <input id="BarInput" asp-for="BarName" class="form-control" placeholder="Find a Bar" />
                            </div>

                        </div>

                    </div>

                    <div class="btn-holder">
                        <button type="submit" class="btn"><i class="ion-android-search"></i></button>
                    </div>

                </form>

            </div>


        </div>

    </div>
    <!-- end hero-header -->


    <div class="pt-80 pb-80">

        <div class="container">

            <div class="row">

                <div class="col-md-8">

                    <div class="section-title">

                        <h2 class="text-left text-center-sm">Top rated Cocktails</h2>

                    </div>

                    <div class="restaurant-common-wrapper">
                        <form method="post">
                            @foreach (var cocktail in Model.Cocktails)
                            {
                                <div class="restaurant-common-wrapper-item highlight clearfix">
                                    <div class="GridLex-grid-middle">
                                        <div class="GridLex-col-6_xs-12">
                                            <div class="restaurant-type">
                                                <div class="image">
                                                    <div class="cocktail-center-cropped"
                                                         style="background-image:url(@Url.Action("GetCocktailPhoto", "Cocktail", new { id = cocktail.Id }));">
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h4>@cocktail.Name</h4>
                                                    <p>Rating: @cocktail.AverageRating/5</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="GridLex-col-4_xs-8_xss-12 mt-10-xss">
                                            <div class="job-location">
                                                @cocktail.ShortDescription
                                            </div>
                                        </div>
                                        <div class="GridLex-col-2_xs-4_xss-12">
                                            <button asp-action="CocktailDetails" asp-controller="Cocktail" value="@cocktail.Id" name="cocktailId" class="res-btn label label-danger">
                                                Details
                                            </button>
                                            <span class="font12 block spacing1 font400 text-center">Min: £15</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                    </div>

                </div>

                <div class="col-md-4 mt-50-sm">

                    <div class="section-title">

                        <h2 class="text-left text-center-sm">Top rated Bars</h2>

                    </div>

                    <div class="row gap-20 top-company-wrapper mmt">
                        <form method="post">
                            @foreach (var bar in Model.Bars)
                            {
                                <div class="col-xs-6 col-sm-4 col-md-6">

                                    <div class="top-company">
                                        <div class="bar-center-cropped"
                                             style="background-image:url(@Url.Action("GetBarPhoto", "Bar", new { id = bar.Id }));">
                                        </div>
                                        <h5>@bar.Name</h5>
                                        <button class="btn btn-appstore" asp-action="BarDetails" asp-controller="Bar" value="@bar.Id" name="barId">Details</button>
                                    </div>

                                </div>

                            }
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- start banner section -->
    <div class="bt-block-home-parallax pt-80 pb-80" style="background-image: url(images/reparallax-one.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="lookbook-product">
                        <h2>Drink with caution. </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner section -->
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/AutoCompleteIndexPage.js"></script>
    <script>
        const Transparency = function () {
            $('body').attr('class', 'not-transparent-header');
        }

        window.onload = Transparency;


    </script>
}

<style>
    .cocktail-center-cropped {
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bar-center-cropped {
        width: auto;
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>