@model AddBarViewModel
<div class="main-wrapper">

    <!-- start hero-header -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list">
                <li><a href="index.html">Home</a></li>
                <li><span>Add Bar</span></li>
            </ol>

        </div>

    </div>
    <!-- end hero-header -->

    <div class="login-container-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="row">

                        <div class="col-sm-6 col-sm-offset-3">
                            <form asp-action="AddBar" asp-controller="Bar" method="post" enctype="multipart/form-data"  autocomplete="off">

                            <div class="login-box-wrapper">

                                <div class="modal-header">
                                    <h4 class="modal-title text-center">Create Bar</h4>
                                </div>

                                <div class="modal-body">

                                    <div class="row gap-20">


                                        <div class="col-sm-12 col-md-12">

                                            <div class="form-group">
                                                <label>Bar Name</label>
                                                <input class="form-control"asp-for="@Model.Name" placeholder="Enter name of the bar" type="text">
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12">

                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control"asp-for="@Model.Address" placeholder="Enter address of the bar" type="text">
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12">

                                            <div class="form-group">
                                                <label>Country</label>
                                                <input class="form-control"asp-for="@Model.Country" id="CountryInput" oninput="getCities(this.value)" placeholder="Select Country" type="text">
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12">

                                            <div class="form-group">
                                                <label>City</label>
                                                <input class="form-control"asp-for="@Model.City" id="CityInput" placeholder="Select City" type="text">
                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <p>Upload bar photo:</p>
                                                <input type="file" name="file">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12">

                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control"asp-for="@Model.Description" placeholder="Enter bar description" type="text" rows="8"></textarea>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer text-center">
                                    <button type="submit" class="btn btn-primary">Add Bar</button>
                                </div>

                            </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/AddBarAutoComplete.js"></script>
        <script>
            const transparency = function () {
                $('body').attr('class', 'not-transparent-header');
            }
            window.onload = transparency;
    </script>
}