@model BarViewModel
<div class="main-wrapper">

    <!-- start hero-header -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list booking-step">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="BarSearch" asp-controller="Bar">Bar Catalog</a></li>
                <li><span>Bar Details</span></li>
            </ol>

        </div>

    </div>
    <!-- end hero-header -->

    <div class="section sm">

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-md-9">
                    <div class=" row">
                    </div>
                    <div class="row">
                        <div class="blog-wrapper">

                            <div class="blog-item blog-single">
                                <div class="row">
                                    <div class="col-md-5">

                                        <h2>@Model.Name</h2>
                                    </div>
                                    <div class=" col-md-4">
                                        <div class="feature no-margin-bottom">
                                            <i class="icon icon-Star"></i>
                                        </div>
                                    </div>

                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                <ul class="list-unstyled list-inline rating-star pull-left">
                                    <li>
                                        <span style="color:#CCCCCC;" id="star-1" onmouseover="hoverStarOn(1)" onmouseout="hoverStarOff()" onclick="starClick(1,@Model.Id)">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <span style="color:#CCCCCC;" id="star-2" onmouseover="hoverStarOn(2)" onmouseout="hoverStarOff()" onclick="starClick(2,@Model.Id)">

                                            <i class="fa fa-star"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <span style="color:#CCCCCC;" id="star-3" onmouseover="hoverStarOn(3)" onmouseout="hoverStarOff()" onclick="starClick(3,@Model.Id)">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <span style="color:#CCCCCC;" id="star-4" onmouseover="hoverStarOn(4)" onmouseout="hoverStarOff()" onclick="starClick(4,@Model.Id)">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <span style="color:#CCCCCC;" id="star-5" onmouseover="hoverStarOn(5)" onmouseout="hoverStarOff()" onclick="starClick(5,@Model.Id)">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </li>
                                </ul>
                                }
                                <h4>Rating: @Model.AverageRating/5</h4>
                                <div class="blog-media">
                                    <div class="center-cropped"
                                         style="background-image:url(@Url.Action("GetBarPhoto", "Bar" , new { id=Model.Id }));">
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <ul class="blog-meta clearfix">
                                        <li style="color:black">@Model.Address</li>
                                        <li style="color:black">@Model.Comments.BarComments.Count() comments</li>
                                    </ul>
                                    <div class="blog-entry">
                                        <div class="blockquote">@Model.Description</div>
                                    </div>
                                </div>

                                <div class="clear mb-50"></div>

                                <h4 class="uppercase">Cocktails Available</h4>
                                <div id="search-results">

                                </div>

                                <div class="clear mb-50"></div>

                                <h3 class="uppercase">@Model.Comments.BarComments.Count() Comments</h3>

                                <div id="comment-wrapper">
                                    <div id="comments-partial">

                                    </div>


                                    <div class="clear"></div>

                                    <div class="text-center">
                                        <a class="btn btn-primary" onclick="loadComments(@Model.Id)">Load More</a>
                                    </div>

                                </div><!-- End Comment -->

                                <div class="clear mb-30"></div>

                                <h3 class="uppercase">Leave a Comment</h3>
                                @if (User.Identity.IsAuthenticated)
                                {
                                <form method="post" id="contactForm" action="#" class="comment-form">
                                    <div class="clear"></div>
                                    <div class="row">
                                        <div class="col-md-12 mb-15">
                                            <div class="form-group">
                                                <label for="comment-message">Message <span class="text-danger">*</span></label>
                                                <textarea maxlength="500" id="comment-message" asp-for="@Model.CreateComment" class="form-control" rows="8"></textarea>

                                            </div>
                                            <div hidden="hidden">
                                                <input asp-for="@Model.Id" value="@Model.Id" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" asp-action="AddBarComment" asp-controller="Bar" class="btn btn-primary">Comment</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="clear"></div>
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3 mt-50-xs">

                    <aside class="sidebar">

                        <div class="sidebar-inner no-border for-blog">

                            <div class="sidebar-module">
                                <h4 class="sidebar-title">Latest cocktails here</h4>
                                <div class="sidebar-module-inner">

                                    @if (!Model.Cocktails.BarCocktails.Any())
                                    {
                                    <p>There aren't any cocktails available yet</p>

                                    }
                                    <ul class="sidebar-post">
                                        @foreach (var cocktail in Model.Cocktails.BarCocktails.Take(6))
                                        {
                                        <li class="clearfix">
                                            <a>
                                                <div class="row">
                                                    <div class="img-center-cropped col-lg-5"
                                                         style="background-image:url(@Url.Action("GetCocktailPhoto", "Cocktail" , new { id=cocktail.CocktailId })">
                                                    </div>
                                                    <div class="col-lg-4" style="max-width:100px;">
                                                        <h6>@cocktail.CocktailName</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        }
                                    </ul>

                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>
    <div hidden=hidden>
        <input id="bar-id" value="@Model.Id" />
        <input id="bar-name" value="@Model.Name" />
        @if (User.Identity.IsAuthenticated && Model.Ratings.BarRatings.Any(p => p.UserId == int.Parse(this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)))
        {
        <input id="initial-rating" value="@Model.Ratings.BarRatings.First(p=>p.UserId==int.Parse(this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)).Rating" />
        }
        else
        {
        <input id="initial-rating" value="0" />
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/BarDetails.js"></script>
}

<style>
    .img-center-cropped {
        width: 80px;
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<style>
    .center-cropped {
        width: 100%;
        height: 360px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>