@model CocktailViewModel

<div class="main-wrapper">

    <!-- start hero-header -->
    <div class="breadcrumb-wrapper">

        <div class="container">

            <ol class="breadcrumb-list booking-step">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="CocktailSearch" asp-controller="Cocktail">Cocktail Catalog</a></li>
                <li><span>Cocktail Details</span></li>
            </ol>

        </div>

    </div>
    <!-- end hero-header -->

    <div class="section sm">

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-md-9">
                    <div class=" row">
                    </div>
                    <div class="row">
                        <div class="blog-wrapper">

                            <div class="blog-item blog-single">
                                <div class="row">
                                    <div class="col-md-5" style="width:auto">

                                        <h2>@Model.Name</h2>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="width:auto">

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <ul class="list-unstyled list-inline rating-star pull-left">
                                                <li>
                                                    <span style="color:#CCCCCC;" id="star-1" onmouseover="hoverStarOn(1)" onmouseout="hoverStarOff()" onclick="starClick(1,@Model.Id)">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="color:#CCCCCC;" id="star-2" onmouseover="hoverStarOn(2)" onmouseout="hoverStarOff()" onclick="starClick(2,@Model.Id)">

                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="color:#CCCCCC;" id="star-3" onmouseover="hoverStarOn(3)" onmouseout="hoverStarOff()" onclick="starClick(3,@Model.Id)">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="color:#CCCCCC;" id="star-4" onmouseover="hoverStarOn(4)" onmouseout="hoverStarOff()" onclick="starClick(4,@Model.Id)">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span style="color:#CCCCCC;" id="star-5" onmouseover="hoverStarOn(5)" onmouseout="hoverStarOff()" onclick="starClick(5,@Model.Id)">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="col-md-2" style="width:auto">

                                        <h4>Rating: @Model.AverageRating/5</h4>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class=" col-md-4">
                                            <a class="btn-favorite" onclick="favoriteThisCocktail()" id="favorite-button">Favorite</a>
                                            <a class="btn-favorite button-activated" onclick="unFavoriteThisCocktail()" id="unfavorite-button">Unfavorite</a>
                                        </div>

                                    }
                                </div>
                                <div class="blog-media">
                                    <div class="center-cropped"
                                         style="background-image:url(@Url.Action("GetCocktailPhoto", "Cocktail" , new { id=Model.Id }));">
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <ul class="blog-meta clearfix">
                                        <li style="color:black">@Model.Comments.CocktailComments.Count() comments</li>
                                    </ul>
                                    <div class="blog-entry">
                                        <div class="blockquote">@Model.Description</div>
                                        <div class="clear mb-30"></div>
                                        <h4 class="uppercase">Ingredients</h4>
                                        <ul class="mb-15">
                                            @foreach (var ingredient in Model.Ingredients.CocktailIngredients)
                                            {
                                                <li>@ingredient.IngredientName</li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="clear mb-40"></div>

                                <h4 class="uppercase">Available in</h4>
                                <div id="search-results">

                                </div>

                                <div class="clear mb-50"></div>

                                <h3 class="uppercase">@Model.Comments.CocktailComments.Count() Comments</h3>

                                <div id="comment-wrapper">
                                    <div id="comments-partial">

                                    </div>


                                    <div class="clear"></div>

                                    <div class="text-center">
                                        <a class="btn btn-primary" onclick="loadComments(@Model.Id)">Load More</a>
                                    </div>

                                </div><!-- End Comment -->

                                <div class="clear mb-30"></div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <h3 class="uppercase">Leave a Comment</h3>

                                    <form method="post" id="contactForm" action="#" class="comment-form">
                                        <div class="clear"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-15">
                                                <div class="form-group">
                                                    <label for="comment-message">Message <span class="text-danger">*</span></label>
                                                    <textarea maxlength="500" id="comment-message" asp-for="@Model.CreateComment" class="form-control" rows="8"></textarea>

                                                </div>
                                                <div hidden="hidden">
                                                    <input asp-for="@Model.Id" value="@Model.Id" id="cocktail-id" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" asp-action="AddCocktailComment" asp-controller="Cocktail" class="btn btn-primary">Comment</button>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="clear"></div>
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3 mt-50-xs">

                    <aside class="sidebar">

                        <div class="sidebar-inner no-border for-blog">

                            <div class="sidebar-module">
                                <h4 class="sidebar-title">Recently added to:</h4>
                                <div class="sidebar-module-inner">

                                    @if (!Model.Bars.BarCocktails.Any())
                                    {
                                        <p>This cocktail isn't available at any bar currently</p>
                                    }
                                    <ul class="sidebar-post">
                                        @foreach (var bar in Model.Bars.BarCocktails)
                                        {
                                            <li class="clearfix">
                                                <a href="blog-single.html">
                                                    <div class="img-center-cropped"
                                                         style="background-image:url(@Url.Action("GetBarPhoto", "Bar" , new { id=bar.BarId })">
                                                    </div>
                                                    <div class="content">
                                                        <h6>@bar.BarName</h6>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>

                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>

                    </aside>

                </div>

            </div>

        </div>

    </div>
    <div hidden=hidden>
        <input id="cocktail-id" value="@Model.Id" />
        <input id="cocktail-name" value="@Model.Name" />
        @if (User.Identity.IsAuthenticated && Model.Ratings.CocktailRatings.Any(p => p.UserId == int.Parse(this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)))
        {
            <input id="initial-rating" value="@Model.Ratings.CocktailRatings.First(p=>p.UserId==int.Parse(this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)).Rating" />
        }
        else
        {
            <input id="initial-rating" value="0" />
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/CocktailDetails.js"></script>
}

<style>
    .img-center-cropped {
        width: 80px;
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .center-cropped {
        width: 100%;
        height: 360px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>